02_autenticacion_ws/WebContent/wsdl/AutenticarController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controller" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controller" xmlns:intf="http://controller" xmlns:tns1="http://javabeans" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controller" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://javabeans"/>
   <element name="obtenerCliente">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerClienteResponse">
    <complexType>
     <sequence>
      <element name="obtenerClienteReturn" type="tns1:Cliente"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticarCliente">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="autenticarClienteResponse">
    <complexType>
     <sequence>
      <element name="autenticarClienteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://javabeans" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Cliente">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="idCliente" type="xsd:int"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="telefono" type="xsd:int"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtenerClienteResponse">

      <wsdl:part element="impl:obtenerClienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerClienteRequest">

      <wsdl:part element="impl:obtenerCliente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="autenticarClienteResponse">

      <wsdl:part element="impl:autenticarClienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="autenticarClienteRequest">

      <wsdl:part element="impl:autenticarCliente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AutenticarController">

      <wsdl:operation name="obtenerCliente">

         <wsdl:input message="impl:obtenerClienteRequest" name="obtenerClienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerClienteResponse" name="obtenerClienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="autenticarCliente">

         <wsdl:input message="impl:autenticarClienteRequest" name="autenticarClienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:autenticarClienteResponse" name="autenticarClienteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AutenticarControllerSoapBinding" type="impl:AutenticarController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtenerCliente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerClienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerClienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="autenticarCliente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="autenticarClienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="autenticarClienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AutenticarControllerService">

      <wsdl:port binding="impl:AutenticarControllerSoapBinding" name="AutenticarController">

         <wsdlsoap:address location="http://localhost:8080/02_autenticacion_ws/services/AutenticarController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
